.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  height: 80px;
  width: 300px;
  padding: 10px 20px;

  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.status {
  width: 20px;
  height: 20px;

  background-color: grey;
  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: red;
}

.avatar {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 2px;

  border: 1px solid lightgray;
  border-radius: 10px;
}

.name {
  /* align-items: flex-start; */
  margin: 0;
  font-size: 28px;
  font-weight: 500;
}
