body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  padding: 20px;
  background-color: lightgrey;
}

img,
p,
h1,
h2,
h3,
ul,
li {
  margin: 0 auto;
  padding: 0;
}

ul,
li {
  list-style: none;
}
